.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// for top-menu
.top-menu-wrapper{
  display: inline-block;
}
.top-menu{
  overflow-x: auto; // overflowx 속성은 x 축, 즉 왼쪽과 오른쪽의 내용이 더 길 때(가로),
  overflow-y: hidden; // overflowy 속성은 y 축, 즉 위와 아래의 내용이 더 길때 (세로) 어떻게 보일지 선택하는 속성
  white-space: nowrap; // whitespace 는 스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성, nowrap :병합
}
// for top-menu
.top-menu.nav-btn{
  border: none;
  display: inline-flex; // Flex 는 요소의 크기가 불분명하거나 동적인 경우에도, 각 요소를 정렬할 수 있는 효율적인 방법을 제공, Inline 특성의 Flex Container 를 정의
  width: 6rem; // inlineflex : Inline(Inline Block) 요소와 같은 성향(수평 쌓임)
  margin-left: -1px;
}

.nav-btn-bar {
   height: 3rem;
} //상단탭 높이조절

.content .avatar {
  float: right; //이미지 오른쪽 정렬뜻임
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: -1.5rem;
  margin-right: -1rem;
} //하단 사진관련 사이즈 조절

.author-body-description{
  margin-left: 20px !important;
  margin-top: 20px !important;
}

.content a:not(.btn):not(.no-hover) {
    text-decoration-color: rgba(7, 7, 7, 0.5);
} //링크밑줄 색상변경

.markdown-body >ol > li > p > a {
  font-weight: bold !important;
  color: rgb(11, 12, 12) !important;

} //링크 색상변경

.markdown-body {
  kbd {
    font-family: monospace;
    font-size: 15px;
    color: #555;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    padding: 3px 5px;
  }

  mark {
    padding: 3px 5px;
    background-color: #FFF9C4;
    font-family: 'Merriweather-Light','Lato','-apple-system','Verdana','PingFang SC','Helvetica Neue','Arial','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei','sans-serif';
    font-weight: 500;
    color: #345a74;
    border-radius: 3px;
  }

under {
    text-decoration: underline;
    text-decoration-color: red !important;
    text-underline-position:under;
    padding-bottom : 2px;
  }
}

.page-control {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-control > div {
  max-width: 50%;
}.page-control {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-control > div {
  max-width: 50%;
}

.button {
  box-shadow:inset 0px 1px 0px 0px #fcfafa;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#f0e9e9;
  border-radius:16px;
  border:3px solid #f7f4f4;
  display:inline-block;
  cursor:pointer;
  color:#706f6f;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:4px 60px;  //버튼 사이즈 높이 길이 조절
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.button:hover {
  background:linear-gradient(to bottom, #dfebf0 5%, #ffffff 100%);
  background-color:#fcf7f7;
}

.button:active {
  position:relative;
  top:1px;
}

//메뉴
.spread-btn{
  right: 15%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.menu-wrapper {
  text-align: left;
  margin-left: 30%;
}
.submenu.menu-wrapper{
  right: 10%;
  position: absolute;
  background-color: rgb(34,31,32);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 10rem;
  z-index: 2;
  ul{
    margin: 0;
    padding: 0 1.25rem;
  }
}
.submenu.menu-wrapper.hide{
  display: none;
}

a::after {
  display: none !important;
}